# {{ gaussian_route_section }}

{{ gaussian_title_section }}

{{ molecule_charge }} {{ molecule_spin }}
{{ molecule_xyz }}

{%- if optional_additional_sections != None %}
{{ optional_additional_sections }}

{%- endif %}
! This is a comment line to indicate necessary blank lines